<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" id="nav-brand" href="/">P.A.W.S.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks" aria-controls="navLinks"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navLinks">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/animals/cat">Cats</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/animals/dog">Dogs</a>
      </li>

      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      {{/if}}
      <li class="nav-item">
        <a class="nav-link" id="login_out" href="{{#if user}}/logout{{else}}/login{{/if}}">{{#if user}}Sign
          Out{{else}}Sign In{{/if}}</a>
      </li>
    </ul>
  </div>
</nav>

<section id="main" class="d-flex justify-content-center align-items-center"></section>

<section id="animals" class="mt-5 mb-5">
  <div class="container text-center">
    <h2>Pet Adoption Web Services</h2>
    <div class="row mt-5">
      {{#each animal}}
      {{> animals/homeAnimal}}
      {{/each}}
    </div>
  </div>
</section>
<br>

<section>
  <div class="container" id="carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 carousel-image" src="/images/paws-logo.png" alt="Logo">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 carousel-image" src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2012/11/86528113-general-dog-care-632x475.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>About Pet Adoption</h5>
            <p>Learn more about pet adoption including how to adopt dogs, cats and other pets.<br>There are many
              misconceptions about adopting pets.<br>
              <p><a href="https://www.petfinder.com/pet-adoption/" target="_blank">Learn the truth and get the
                  facts.</a></p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 carousel-image"
            src="https://www.petmd.com/sites/default/files/CANS%20petmd%20small%20pet%20outdoors%20645930832.jpg"
            alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Pet Care</h5>
            <p>Petfinder is devoted to helping pets and we have numerous pet care tips to help you take care of your
              little friend.<br>In addition, if your pet passes <a href="https://www.petfinder.com/pet-care/"
                target="_blank">learn how to cope with the death of your pet.</a></p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 carousel-image"
            src="https://olsenvet.com/wp-content/uploads/2017/04/caring-for-older-cats.jpg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Cats</h5>
            <p>Everything you need to know about how to adopt a cat, bringing your new cat home, cat health and care and more! <p><a href="https://www.petfinder.com/cats/">Click here for more info!</a></p></p>
          </div>
      </div>      
      <div class="carousel-item">
        <img class="d-block w-100 carousel-image" src="https://images2.minutemediacdn.com/image/upload/c_crop,h_2788,w_4960,x_0,y_255/f_auto,q_auto,w_1100/v1554918537/shape/mentalfloss/istock-488657289.jpg" alt="Fourth slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Dogs</h5>
            <p>Everything you need to know about dogs, including dog breeds, how to adopt a dog, bringing a dog home, dog health and care, and more! <p><a href="https://www.petfinder.com/dogs/">Click here for more info!</a></p></p>
          </div>
      </div>      
      <div class="carousel-item">
        <img class="d-block w-100 carousel-image" src="https://www.fcnmhp.org/wp-content/uploads/military-pet.jpg" alt="Fifth slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Military Deployment and your Pet</h5>
            <p>>We believe in providing vital assistance to military pet owners while they serve our country with honor, courage and commitment.<p><a href="https://www.dogsondeployment.org/">Click here for more info!</a></p></p>
          </div>
      </div>      
      <div class="carousel-item">
        <img class="d-block w-100 carousel-image" src="https://blog.firstlantic.com/hubfs/pets-for-seniors.jpg" alt="Sixth slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Pets Can Be The Best Medicine for Seniors</h5>
            <p>Many seniors feel isolated as they get older.<br>They may have lost close friends or family members and there are less opportunities to make new friends as we age.<br>However, a pet (especially a dog) can change that. Since dogs are pack animals, most welcome social interaction with both people and other dogs. <p><a href="https://blog.firstlantic.com/pets-can-be-the-best-medicine-for-seniors">Click here for more info!</a></p></p>
          </div>
      </div>      
      <div class="carousel-item">
        <img class="d-block w-100 carousel-image" src="https://www.rover.com/blog/wp-content/uploads/2016/01/156938427-960x540.jpg" alt="Seventh slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Rehoming Your Pet</h5>
            <p>Rehoming your pet is heartbreaking. It is often due to circumstances like the loss of a job or home, an illness or injury, or PCSing to a location where personal animals are not allowed.<p><a href="https://rehome.adoptapet.com/ ">Click here for more info!</a></p></p>
          </div>
      </div>      
    </div>
  </div>
</section>


<!-- Footer -->
<hr class="mt-5">
<footer class="page-footer pt-2">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/bradleyknutson"> Bradley Knutson,</a>
    <a href="https://github.com/sstott09"> Steven Stott, &</a>
    <a href="https://github.com/stacyholtz6"> Stacy Holtz</a>
  </div>
</footer>