<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">Animal Rescue</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks" aria-controls="navLinks"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navLinks">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign In</a>
      </li>
    </ul>
  </div>
</nav>
<section id="main" class="d-flex justify-content-center align-items-center">
  <div>
    <div id="header" class="containter text-white text-center">
      <h1 class="display-1">Animal Rescue</h1>
      <p>A background Image here would be nice.</p>
      <button class="btn btn-lg btn-dark">Sign In</button>
    </div>
  </div>
</section>
<section id="animals" class="mb-5">
  <div class="container text-center text-white">
    <h2>Animals Available for Adoption. Sign in for more information.</h2>
    <div class="row">
      <div class="col-md-4">
        <img src="" alt="" class="img-fluid">
        <h3>Felix</h3>
        <p>Not sure how we want to display the images.</p>
      </div>
      <div class="col-md-4">
        <img src="" alt="" class="img-fluid">
        <h3>Felix</h3>
        <p>Place Holder</p>
      </div>
      <div class="col-md-4">
        <img src="" alt="" class="img-fluid">
        <h3>Felix</h3>
        <p>Place Holder</p>
      </div>
    </div>
  </div>
</section>


{{!-- jquery --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{{!-- bootstrap --}}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{{!-- local js --}}
<script src="/js/index.js"></script>