<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">Animal Rescue</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks" aria-controls="navLinks"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navLinks">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/animals/cat">Cats</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/animals/dog">Dogs</a>
      </li>

      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      {{/if}}
      <li class="nav-item">
        <a class="nav-link" id="login_out" href="{{#if user}}/logout{{else}}/login{{/if}}">{{#if user}}Sign
          Out{{else}}Sign In{{/if}}</a>
      </li>
    </ul>
  </div>
</nav>
<section id="main" class="d-flex justify-content-center align-items-center">
  <div>
    <div id="header" class="containter text-white text-center">
      <h1 class="display-1">Animal Rescue</h1>
      <p>A background Image here would be nice.</p>
    </div>
  </div>
</section>
<section id="animals" class="mb-5">
  <div class="container text-center text-white">
    <h2>Find a forever pet for your forever home</h2>
    <div class="row">
      <div class="col-md-4">
        <img src="" alt="" class="img-fluid">
        <h3>Felix</h3>
        <p>Not sure how we want to display the images.</p>
      </div>
      <div class="col-md-4">
        <img src="" alt="" class="img-fluid">
        <h3>Felix</h3>
        <p>Place Holder</p>
      </div>
      <div class="col-md-4">
        <img src="" alt="" class="img-fluid">
        <h3>Felix</h3>
        <p>Place Holder</p>
      </div>
    </div>
  </div>
</section>