<form action="/profile/image" method="post" enctype="multipart/form-data">
  <div>
    <label for="Name">Name</label>
    <input type="text" name="name" id="name">
    <button class="btn btn-dark">Add Profile Name</button>
  </div>
  <div>
    <label for="image">Profile Image</label>
    <input type="file" name="image" id="image">
    <button class="btn btn-dark">Add Profile Image</button>
  </div>
</form>