body {
  background: #603813; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #603813, #b29f94); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #603813, #b29f94); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #ffffff
}

 #main {
  background: url('../media/paws-logo.png') top center / cover no-repeat;
  min-height: 750px;
  /* background-size: auto; */
  /* max-width: 100%; */
  /* height: auto; */
} 

img {
 width: 100px;
 height: 100px;
 background-size: cover;
}

a {
  color: #ffffff;
}

/* .border-box {
  border: 3px solid #00B0F0;
  height: 200px;
  width: 200px;
} */

a:hover {
color: #595959;
}

/* #pets-container {
display: flex;
} */

.nav-link{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.nav-link:hover {
  transition: border 0.2s;
  border-bottom: 1px solid #5D392D;
}

.navbar-brand {
/* font-family: 'Love Ya Like A Sister', cursive; */
font-family: 'Finger Paint', cursive;
font-weight: 700;
}

#image-upload {
  border: 1px solid #ffffff;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

input[type="file"]{
  display: none;
  margin-bottom: 1rem;
}

.card-header {
  color: #5D392D;
}

.card-footer {
  color: #5D392D;
}

#trash:hover {
  color: red;
}

#profile-image {
  border-radius: 25px;
  height: 100px;
  width: 100px;
}


li {
  list-style-type: none;
  padding: 5px;
  margin: 5px;
}

.trash {
  text-align: right;
}

hr {
  border-top: 2px solid #5D392D;

}

@media(max-width: 768px){
  .navbar {
    background: #595959;
  }
}