body {
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-link:hover {
  transition: border 0.2s;
  border-bottom: 1px solid white;
}

#main {
  min-height: 700px;
}

@media(max-width: 768px){
  .navbar {
    background: #1f1f1f;
  }
}