body {
  background: #606c88;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #ffffff
}

 #main {
  background: url('../media/cats.jpeg')top center / cover no-repeat;
  min-height: 750px;
} 

.img-size {
 margin-top: 10px;
 padding: 10px;
 width: 300px;
 height: 300px;
 border-radius: 25px;
 background-size: cover;
}

a {
  color: #ffffff;
}

a:hover {
  color: #EDF3FF;
  text-decoration: none;
}

.btn-primary,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #00b0f0;
    border-color: #00b0f0;
}
.btn-primary:active,
.btn-primary:hover {
  background-color: #0083b0;
  border-color: #0083B0
}

.update-photo-btn {
  border-radius: 100%;
}

.form-container {
  margin-top: 100px;
}

.login-card {
  margin-top: 150px;
}

.container {
  z-index: 1;
}

.pet-container {
  margin-top: 100px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #7a8ab1;
}

.home-pets {
  border-style: solid;
  border-color: #ffffff;
  background-color: #7a8ab1;
}

.nav-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.nav-link{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.nav-link:hover {
  transition: border 0.2s;
  border-bottom: 1px solid #ffffff;
}

.navbar-brand {
/* font-family: 'Love Ya Like A Sister', cursive; */
font-family: 'Finger Paint', cursive;
font-weight: 700;
}

#image-upload {
  border: 1px solid #ffffff;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

input[type="file"]{
  display: none;
  margin-bottom: 1rem;
}

.card-header {
  color: #606c88;
}

.card-footer {
  color: #606c88;
}

.login-signup {
  color: #606c88
}

.login-signup:hover {
  color: #3f4c6b;
}

#trash:hover {
  color: red;
}

#profile-image {
  border-radius: 25px;
  height: 100px;
  width: 100px;
}


li {
  list-style-type: none;
  padding: 5px;
  margin: 5px;
}

.trash {
  text-align: right;
}

hr {
  border-top: 2px solid #ffffff;
}

.footer {
  height: 50px;
  margin-top: -50px;
}

@media(max-width: 768px){
  .navbar {
    background: #606c88;
  }
}

